<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <appSettings>
    <add key="BASE_EVAL" value="10" />
    <add key="MAX_NUM_REACTIVOS" value="120" />
    <add key="MAX_NUM_OPCIONES" value="12" />

    <add key="ConnectionString" value="workstation id=SICH; data source=SICH; TRUSTED_CONNECTION=YES; persist security info=False; initial catalog=MODULO_6X; packet size=4096; " />
  </appSettings>
</configuration>
